
body {
    background: url(../images/background.jpg);
    background-size: cover;
}

h1 {
    color: red;
}


.container {
    background: white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 700px;
    padding: 40px;
    margin-top: 100px;
    border-radius: 25px;
    border: 1px solid floralwhite;

}

